.hero {
    position: relative;  
    width: 100%;
    background: no-repeat center center/cover;
}


.custom-shape-divider-bottom-1738691148 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1738691148 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1738691148 .shape-fill {
    fill: #FFFFFF;
}

.shopWrapper {
    position: relative;
    text-align: center;
}

.shopWrapper h1 {
    margin:4rem 0 1rem 0;
}

 h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 600;
}

 p {
    font-size: 1.5rem;
    font-weight: 400;
}

hr {
    margin: 6rem;
    opacity: .5;
}

.heroContent {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.heroContent h1 {
    margin: 0;
}

span {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}
.buttons {
    display: flex;
    gap: 1rem;
}
.buttons button {
    width: 150px;
    padding: 1rem;
    border-radius: 25px;
    transition: .2s ease-in-out;
    font-size: 1rem;
    border: 2px solid var(--accent-colour);
}

.enquireBtn, .shopBtn:hover {
    background-color: transparent;
    color: var(--accent-colour);

}

.shopBtn, .enquireBtn:hover {
    background-color: var(--accent-colour);
    color: black;
}

.miniShop {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    margin: 0;
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;
}

.reason {
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
}


.banner img {
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}