nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white; 

}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    
}

.navWrapper a {
    color: var(--font-colour);
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    margin-right: 1rem;
}

.navWrapper a:hover {
    color: var(--accent-colour);
}

.logo img {  
   height: 75px;
   margin: 1rem;
}

.navRight {
    display: flex;
    align-items: center;
}

.navRight img {
    height: 30px;
    margin-right: 1rem;
}