@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

:root {
    --font-colour: #444444;
    --accent-colour: rgb(255, 41, 141);
}

button {
    font-family: inherit;
    cursor: pointer;
}